.fight-virus-title{
    margin-left: 1em;
    font-size: 4em;
    font-weight: 800;
    color: rgb(54, 54, 54);
}

.should-vaccine{
    padding-top: 2em;
    font-size: 3em;
    font-weight: 800;
    color: rgb(54, 54, 54);
}