footer{
    background-color: rgb(235, 245, 252);
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 93%;
}
body{
    position: relative;
    padding-bottom: 12em;
    min-height: 100vh;
}

.footer-vaccination{
    color: blue;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 3.2em;
}

.footer-text-vaccination{
    padding-left: 5em;
    padding-top: .5em;
}